name: Run App with Secrets
on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-24.04
    env:
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    steps:
      - uses: actions/checkout@v4
      - run: ./app.sh
